{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Log In</title>
    <link rel="website icon" type="png" href="media/download.png" />
    <link rel="stylesheet" href="{% static 'style2.css' %}" />
  </head>
  <body>
    <div class="rgt1">
      New User? continue to<a href="{% url 'signup' %}">Signup</a>
    </div>
    <div class="tlc1">
      <h2>Enter Your Credentials</h2>
    </div>
    <br />
    <div class="cont1">
      <h1>Log In</h1>
      {% for message in messages %}
      <h3>{{message}}</h3>
      {% endfor %}
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <label for="user">Enter username</label><br />
        <input
          type="text"
          placeholder="@username"
          name="username"
          required
        /><br />
        <label for="password">Enter Password</label><br />
        <input
          type="password"
          placeholder="@pass"
          name="password"
          required
        /><br />
        <div class="tlc2">
          <input type="checkbox" checked="checked" />Remember Me<br />
          <input type="submit" /><br />
          forgot<a href="#">password?</a>
        </div>
      </form>
    </div>
  </body>
</html>
