{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sign Up Page</title>
    <link
      rel="website icon"
      type="png"
      href="{% static 'media/download.png' %}"
    />
    <link rel="stylesheet" href="{% static 'style2.css' %}" />
    <style>
      .h5 {
        color: brown;
        text-decoration: line-through;
      }
    </style>
  </head>
  <body>
    {% for message in messages %}
    <h5>{{message}}</h5>
    {% endfor %}
    <div class="rgt1">
      Already have an account?<a href="{% url 'login' %}">LogIn</a>
    </div>
    <div class="tlc1"><h2>Enter details to Sign Up</h2></div>
    <div class="cont2">
      <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <label for="useremail">Enter email:</label><br />
        <input
          type="email"
          name="useremail"
          placeholder="@email"
          required
        /><br />
        <label for="username">Create username:</label><br />
        <input type="text" name="username" placeholder="@user" required /><br />
        <label for="password">Create Password:</label><br />
        <input
          type="password"
          name="password"
          placeholder="@pass123"
          required
        /><br />
        <label for="password2">Re-Enter Password:</label><br />
        <input
          type="password"
          name="password2"
          placeholder="@pass123"
          required
        /><br />
        <div class="tlc2">
          <input type="submit" />
        </div>
      </form>
    </div>
    <div></div>
  </body>
</html>
